@charset "UTF-8 ";

/* MOBILE FIRST  */

:root{
    --roxo: #5F2C82;
    --azulclaro: #94CFCD;
    --verde: #53AAA7;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--roxo);
}

main{
    background-color: white;
    width: 260px;
    border-radius: 16px;
    margin: auto;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.479);
    overflow: hidden; /* Esconde as bordas das imagens */

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    
}

/* MEXER AQUI */
section>div#imagem{
    display: block;
    background: purple url(../imagens/metal.jpg) bottom left no-repeat;
    background-size: cover;
    height: 200px;

    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
}

#central{
    padding: 5px 10px;
    
}

main>section>#central>h1{
    text-align: center;
    margin: 0;
}

main>section p{
    margin-top: 4px;
    font-size: 0.8em;
}

/* INPUT */
div.info{
    background-color: var(--roxo);
    margin: 5px 0;
    border-radius: 8px;
    width: 100%;
    height: 35px;
}

.material-icons{
    color: white;
    font-size: 1.8em;
} 

#iemail, #isenha{
    width: 82%;
    height: 18px;
    padding: 13px 0 2px 8px;
    background-color: var(--azulclaro);
    border-radius: 8px;
    border: 0px;
}  

#entrar{
    display: block;
    background-color: var(--verde);
    border: 0px;
    border-radius: 4px;
    width: 100%;
    height: 35px;
    color: white;
    margin: 5px 0;
}

#entrar:hover{
    background-color: #336d6b;
    cursor: pointer;
}

div a{
    display: block;
    border: 1px solid var(--verde);
    border-radius: 4px;
    width: 100%;
    height: 35px;
    color: #336d6b;
    text-decoration: none;
    text-align: center;
}

a:hover{
    background-color: var(--azulclaro);
}

#mail{
    color: #336d6b;
    font-size: 0.8em;
    padding-top: 10px;
}
